@import "colores";
@import "tipografia";





header{
    .cintillo{
        background-color:$color-red-dark;
        h1{
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 20px;
            color: $color-white;
            padding-top: 10px;
            padding-bottom: 5px;
            padding-left: 35%;
            
        }
    }
}
header {
    .barra{
        display: flex;
    }
}
header {

 .logo-kosiuko{
    display: flex;
    text-decoration: none;
       img{
          height: 50px;
          padding-left: 10px;
          padding-top: 6px;
        }

   }
}
.flota1{
    display: flex;
    position: absolute;
}
.flota{
    img{
        width: 90px;
        height: 90px;
        position: fixed;
        justify-content: end;
        border: 2px;
        top: 100px;
        right: 4%;
    }
}

    
.prueba-item{
        display: flex;
        .clase{
            img{
                width: 100%;
                flex-direction: column;
            }
        }
        
}
.contenedorimg1{
    display: flex;
    article{
          img{
            
            margin-top: 50px;
        }
    }
}
@media( max-width:700px){
    .contenedorimg1 article{
        flex-direction: column;
        img{
            width: 100%;
        }
       

    }
}



.chica .item .sola{
    display: flex;
    img{
        width: 100%;
    }
}
 
footer{
    background-color:$color-black;
    .redes{
        font-family: 'Roboto Condensed', sans-serif;
        color: $color-white;
        font-size: 20px;
        
    }
    
}
footer .redes2{
    img{
        width: 200px;
    }
}
footer{
    .mapa h2{
        font-family: 'Roboto Condensed', sans-serif;
        color: $color-white;
        font-size:30px ;
    }
}
footer{
    .mapa2 iframe{
        width: 320px;
        height: 300px;
        
    }
}
@media( max-width:700px){
    .footer .mapa2 iframe{
        width: 100%;
        flex-direction: column;
    }
}
footer{
    .copy{
        color: $color-white;
    }
}
main{
    .titulo-main{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
        background-image: linear-gradient(to right, black, rgb(85, 83, 83));
        color: $color-white;
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        box-shadow: 0px 09px 20px rgb(43, 41, 41);
    }
}
.contenedor-ropa{
    display: flex;
    flex-direction: row;
    
    .imagenes img{
        display: flex;
        width: 100%;
        height: 400px;
        border: 1px solid black;

        
        
        
    
    }
}
.contenedor-ropa{
    
    .imagenes p{
        text-align: center;
        
        
    }
}
@media ( max-width: 768px ){
    .contenedor-ropa{
        flex-direction: column;
    }
}
@media ( max-width: 768px) {
    .contenedor-ropa p {
        text-align: left;
    }
}
.contenedor-boton{
    display: flex;
    margin-left: 200px;
    padding: 10px 10px;
    transition: height 5s;
    .boton{
        background-color: $color-black-grey;
        color: $color-white;
        &:hover{
            background: $color-white;
            color: $color-black;
            height: 40px;
        }
    }
  
}
.abrigo{
    @extend .titulo-main;

}
footer{
    margin-top: 20px;
    .container{
        display: flex;
        margin-right: 200px;
        & h2{
            font-family:'Roboto Condensed', sans-serif; 
            color: $color-white;
        }
        
        
    }
}

.titulo h2 {
    
        display: grid;
        gap: 10px;
        text-align: center;
        font-size: 50px;
        text-decoration: underline;

}
.titulo {
    transition: font-size 2s;
    h3{
        display: grid;
       text-align: center;
       font-size: 55px;
       &:hover{
        font-size: 65px;
       }
    }
    
}
.formulario{
    display: grid;
    row-gap: 5px;
    text-align: center;
    
    .relleno{
        margin-bottom: 20px;
        
    }
}
@media ( min-width: 768px) and (max-width: 800px) {
    .titulo{
       flex-direction: column;
       color: rgb(12, 12, 12);
    }
}



.about{
    @extend .biografia;
    .parrafo{
        text-align: left;
        background-color:$color-white;
        color: $color-black;
    }
    
}
.about-item {
    @extend .biografia-item
    
}
.biografia{
    display: flex;
    margin-top: 20px;
    .parrafo{
        text-align: left; 
        background-color: $color-white;
        color:$color-black;
    }
}
.biografia-item {
    background-image: linear-gradient(to right, black, rgb(85, 83, 83));
    color: $color-white;
    text-align: center;
}
.contenedor-gif{
    display: flex;
    justify-content: center;
    
}
@media( max-width:700px){
    .contenedor-gif .gif{
        width: 100%;
        flex-direction: column;
    }
}




.carrito .ropa img{
    width: 400px;
    height: 400px;
    border: 1px solid black;
}
.precio .pesos h2{
    background-image: linear-gradient(to right, black, rgb(85, 83, 83));

    color: $color-white;

}
 .pesos .boton-pagar{
    display: flex;
   justify-content: center;
   transition: height 5s;
   .boton2{
      &:hover{
          background-color: $color-black-grey;
          color: $color-white;
          height: 40px;
          width: 60px;
          
            
        }
   }
    
   }
   
   
    
    




